        </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap2" class="outer">
      <footer class="inner">
        <!--<p id="downloads2"><strong>Washington, DC</strong><a href="https://github.com/ajsingh273"></a></p>-->
      
      </footer>
    </div>
    
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright"><strong>CONTACT </strong><a href="https://github.com/ajsingh273"></a></p>
        <p>Phone 999-999-9999 <a href="http://pages.github.com"></a></p>
        <p>info@govwizely.com <a href="http://pages.github.com"></a></p>
        <p>GovWizely <a href="http://pages.github.com"></a>
        </br>
        Washington, DC</p>
      </footer>
    </div>

    

  </body>
</html>