<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Website : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Website</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="https://github.com/ajsingh273/website">View on GitHub</a>-->

          <!--<h1 id="project_title">Website</h1>
          <h2 id="project_tagline"></h2>-->

            <section id="downloads">
             <img  src="images/logo.png" width="350px" >
              <!--<a class="tar_download_link" href="https://github.com/ajsingh273/website/tarball/master">Download this project as a tar.gz file</a>-->
            </section>
        </header>
    </div>
    
    <nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#abou">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>


